= simple_form_for form, as: :quarter do |f|
  = f.input :name, required: true, input_html: { class: 'text-input' }
  = f.input :start_on, as: :date, required: true, end_year: 25.years.from_now.year, input_html: { class: 'select-box select-box--lg' }
  = f.input :end_on, as: :date, required: true, end_year: 25.years.from_now.year, input_html: { class: 'select-box select-box--lg' }

  %fieldset
    %legend= t('simple_form.labels.quarter.editable')
    = f.input :editable, as: :radio_buttons, required: true

  .form-actions
    = f.button :submit, 'Save'
    .form-actions__cancel
      or
      = link_to 'cancel', manage_quarters_path
