= turbo_frame_tag('quarter-commitments-list', class: 'turbo-frame', target: '_top') do
  = form_tag do_reorder_commitments_manage_quarter_path(quarter.id), method: :patch do
    .team-header
      .team-header__content
        %h1 Key commitments this quarter
      .team-header__actions
        = button_tag 'Save order', class: 'button button--primary', data: { sortable_commitments_list_target: 'submit' }
        = link_to 'Cancel', quarter_path(quarter), class: 'button button--inverted-primary'
    .sortable-list{ data: { controller: 'sortable-commitments-list' } }
      %ul.commitments-list.commitments-list--sortable{ data: { sortable_commitments_list_target: 'list' } }
        - commitments.each_with_index do |commitment, i|
          %li.commitments-list__item
            .commitments-list__box
              .commitments-list__number.commitments-list__number--updated{ data: { sortable_commitments_list_target: 'number' } }
                = commitment.number
              .commitments-list__name
                = commitment.name
              = select_tag "commitments[order][#{commitment.id}]",
                           options_for_select(1..commitments.size, commitment.number),
                           { data: { sortable_commitments_list_target: 'input' } }
