.inner
  .view
    %h1 Components

    %h2 Buttons
    .button.button--primary Primary button
    .button.button--inverted Inverted button
    .button.button--success Inverted button
    .button.button--danger Inverted button

    %h2 Status indicators

    .status-indicator.status-indicator--red
      .status-indicator__circle
      Red
    .status-indicator.status-indicator--amber
      .status-indicator__circle
      Amber
    .status-indicator.status-indicator--green
      .status-indicator__circle
      Green

    %h2 Indicator lists

    .indicator-list
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value

    .indicator-list.indicator-list--inline
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value

    .indicator-list.indicator-list--inline-mini
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value
      .indicator-list__indicator
        .indicator-list__label
          Label
        .indicator-list__value
          Value

    %h2 Team header

    .team-header
      .team-header__group
        Group name
      .team-header__name
        Team name

    %h2 Flash messages

    .flash-message.flash-message--notice
      Notice

    .flash-message.flash-message--alert
      Alert

    %h2 Issues

    .issue
      .issue__header
        .issue__team-name Team name
        .issue__description Description
      .issue__inner
        .issue__section
          .issue__section-label Section label
          .issue__section-value Section value
      .issue__section.issue__section--actions
        Actions

    %h2 Sprint navigation

    %div{style: 'background: #666; padding: .25rem;'}
      .sprint-navigation
        .sprint-navigation__dates
          Jan 1 to Dec 31
        .sprint-navigation__button.sprint-navigation__button--previous
          .sprint-navigation__icon
          .sprint-navigation__hidden-label
            Hidden label - previous
        .sprint-navigation__button.sprint-navigation__button--next
          .sprint-navigation__icon
          .sprint-navigation__hidden-label
            Hidden label - next

    %h2 Checkboxes

    .checkbox.checkbox--sm
      %label.checkbox__label{for: 'checkbox-1'}
        = check_box_tag 'checkbox', nil, true, id: 'checkbox-1', class: 'checkbox__control'
        .checkbox__label-text Label

    .checkbox.checkbox--lg
      %label.checkbox__label{for: 'checkbox-2'}
        = check_box_tag 'checkbox', nil, true, id: 'checkbox-2', class: 'checkbox__control'
        .checkbox__label-text Label

    %h2 Radio buttons

    .radio-button.radio-button--sm
      %label.radio-button__label{for: 'radio-1-1'}
        = radio_button_tag 'radio-1', nil, true, id: 'radio-1-1', class: 'radio-button__control'
        .radio-button__label-text Option 1
    .radio-button.radio-button--sm
      %label.radio-button__label{for: 'radio-1-2'}
        = radio_button_tag 'radio-1', nil, true, id: 'radio-1-2', class: 'radio-button__control'
        .radio-button__label-text Option 2
    .radio-button.radio-button--sm
      %label.radio-button__label{for: 'radio-1-3'}
        = radio_button_tag 'radio-1', nil, true, id: 'radio-1-3', class: 'radio-button__control'
        .radio-button__label-text Option 3

    .radio-button.radio-button--lg
      %label.radio-button__label{for: 'radio-2-1'}
        = radio_button_tag 'radio-2', nil, true, id: 'radio-2-1', class: 'radio-button__control'
        .radio-button__label-text Option 1
    .radio-button.radio-button--lg
      %label.radio-button__label{for: 'radio-2-2'}
        = radio_button_tag 'radio-2', nil, true, id: 'radio-2-2', class: 'radio-button__control'
        .radio-button__label-text Option 2
    .radio-button.radio-button--lg
      %label.radio-button__label{for: 'radio-2-3'}
        = radio_button_tag 'radio-2', nil, true, id: 'radio-2-3', class: 'radio-button__control'
        .radio-button__label-text Option 3
