= turbo_frame_tag 'quarter-key-commitments-list', class: 'turbo-frame', target: '_top' do
  .section-header
    .section-header__content
      %h1.section-header__title
        = pluralize(key_commitments.size, 'key commitment')
        this quarter
    .section-header__actions.turbo-frame__container
      .turbo-frame__loading
      - if signed_in_admin? && quarter.editable?
        = render(Common::ButtonComponent.new(tag: :a,
                                             href: reorder_commitments_manage_quarter_path(quarter.id),
                                             scheme: :warning,
                                             style: :inverted,
                                             size: :sm,
                                             data: { turbo_frame: '_self' })) { 'Change order' }
  .turbo-frame__container
    .turbo-frame__loading
    %ul.commitments-list
      - key_commitments.each do |commitment|
        %li.commitments-list__item
          = link_to quarter_commitment_path(quarter, commitment), class: 'commitments-list__box' do
            .commitments-list__number
              = commitment.number
            .commitments-list__name
              = commitment.name
