%ul.sprint-timeline
  .sprint-timeline__background
  - sprints.each do |sprint|
    %li.sprint-timeline__item{ class: "sprint-timeline__item--#{sprint.status}" }
      = link_to sprint_path(sprint), class: 'sprint-timeline__number' do
        = sprint.name.sub(/Sprint /, '')

= turbo_frame_tag 'quarter-commitments-list', target: '_top' do
  .team-header
    .team-header__content
      %h1 Key commitments this quarter
    .team-header__actions
      - if signed_in_admin?
        = link_to reorder_commitments_manage_quarter_path(quarter.id),
             class: 'button button--inverted-warning',
             data: { turbo_frame: '_self' } do
          %i.button__icon.button__icon--warning.fas.fa-sort
          Change order
  %ul.commitments-list
    - commitments.each do |commitment|
      %li.commitments-list__item
        = link_to quarter_commitment_path(quarter, commitment), class: 'commitments-list__box' do
          .commitments-list__number
            = commitment.number
          .commitments-list__name
            = commitment.name

