.page.update
  %h2.outline-anchor=update.team.name
  %header
    .group-name=update.team.group.name
    .team-name=update.team.name

  %section.inner
    .team-indicators
      .team-indicators__indicator.delivery-status
        .team-indicators__inner
          .team-indicators__label Delivery status
          .team-indicators__value
            .status-indicator{ class: "status-indicator--#{update.delivery_status}"}
              .status-indicator__circle
              = delivery_status_text(update)
      .team-indicators__indicator.delivery-status
        .team-indicators__inner
          .team-indicators__label OKR progress
          .team-indicators__value{:class => "status-indicator--#{update.okr_status}"}
            .status-indicator{ class: "status-#{update.okr_status}" }
              .status-indicator__circle
              = okr_status_text(update)
      .team-indicators__indicator.team-health
        .team-indicators__inner
          .team-indicators__label Team health
          .team-indicators__value
            = "#{update.team_health} / 5"
      .team-indicators__indicator.headcount
        .team-indicators__inner
          .team-indicators__label Headcount
          .team-indicators__value
            = "#{update.current_headcount} / #{update.total_headcount}"
    .update-section.update-section--with-break
      .update-section__inner
        .update-section__title Summary
        .update-section__content
          - if update.content.present?
            .markdown-block.markdown-block--pdf.summary
              = render_markdown(update.content).html_safe
        .clear
    .update-section.sprint-goals
      .update-section__inner
        .update-section__title Sprint goals
        .update-section__content
          %ol
            - update.sprint_goals.each do |goal|
              %li= goal
        .clear
    .update-section.sprint-goals
      .update-section__inner
        .update-section__title Goals for next sprint
        .update-section__content
          %ol
            - update.next_sprint_goals.each do |goal|
              %li= goal
        .clear
    .update-section.update-section--with-break.issues
      .update-section__inner
        .update-section__title Issues
        .update-section__content
          - if update.issues.any?
            %ul
              - update.issues.each do |issue|
                %li
                  .issue-wrapper
                    = render partial: 'shared/components/issue', formats: [:html], locals: { issue: issue, show_team_name: false, link_to_update: false }
          - else
            %p.no-issues No issues have been reported for this sprint.
        .clear
.page-break

