.page.update
  %h2.outline-anchor=update.team.name
  %header
    .group-name=update.team.group.name
    .team-name=update.team.name

  %section.inner
    .key-indicators
      .indicator.delivery-status
        .inner
          .label Delivery status
          .value{:class => "status-#{update.delivery_status}"}
            %span.delivery-indicator
            = delivery_status_text(update)
      .indicator.delivery-status
        .inner
          .label OKR progress
          .value{:class => "status-#{update.okr_status}"}
            %span.delivery-indicator
            = okr_status_text(update)
      .indicator.team-health
        .inner
          .label Team health
          .value
            = "#{update.team_health} / 5"
      .indicator.headcount
        .inner
          .label Headcount
          .value
            = "#{update.current_headcount} / #{update.total_headcount}"
    .update-section
      .inner
        .title Summary
        .content
          - if update.content.present?
            .summary
              = render_markdown(update.content).html_safe
        .clear
    .update-section.sprint-goals
      .inner
        .title Sprint goals
        .content
          %ol
            - update.sprint_goals.each do |goal|
              %li= goal
        .clear
    .update-section.sprint-goals
      .inner
        .title Goals for next sprint
        .content
          %ol
            - update.next_sprint_goals.each do |goal|
              %li= goal
        .clear
    .update-section.issues
      .inner
        .title Issues
        .content
          - if update.issues.any?
            %ul
              - update.issues.each do |issue|
                %li
                  .inner
                    .description= issue.description
                    .treatment
                      %span.label How we're solving it:
                      = issue.treatment
                    .help
                      %span.label What we need help with:
                      = issue.help
                    - if issue.identifier.present?
                      .identifier
                        %span.label Identifier for this issue:
                        = issue.identifier
          - else
            %p.no-issues No issues have been reported for this sprint.
        .clear
.page-break

