.view.view--manage-sprints
  %header.section-header
    %h1.section-header__title Sprints
    .section-header__actions
      = render(Common::ButtonComponent.new(tag: :a,
                                           href: new_manage_sprint_path,
                                           scheme: :primary)) { 'Add a new sprint' }

  .sprints-list
    .current-sprint
      - if current_sprint.present?
        .sprint
          %h2 Current sprint
          .sprint-details
            .sprint-name=current_sprint.name
            .sprint-date
              = current_sprint.start_on.strftime('%b %e %Y')
              to
              = current_sprint.end_on.strftime('%b %e %Y')
          .sprint-actions
            = render(Common::ButtonComponent.new(tag: :a,
                                                 href: edit_manage_sprint_path(current_sprint),
                                                 scheme: :primary,
                                                 style: :inverted)) { 'Edit' }

    %ul.all-sprints
      - sprints.each do |sprint|
        = render partial: 'sprint', locals: { sprint: sprint }
