= simple_form_for form, as: :team do |f|
  = f.input :group_id, { as: :select,
                         collection: Group.all,
                         required: true,
                         include_blank: true,
                         input_html: { class: 'select-box select-box--lg' } }
  = f.input :name, { required: true,
                     input_html: { class: 'text-input',
                                   style: 'width: 20rem' } }
  = f.input :start_on, { as: :date,
                         required: false,
                         include_blank: true,
                         input_html: { class: 'select-box select-box--lg' } }

  = f.input :end_on, { as: :date,
                         required: false,
                         include_blank: true,
                         input_html: { class: 'select-box select-box--lg' } }

  .form-actions
    = render(Common::ButtonComponent.new(scheme: :primary)) { 'Save' }
    .form-actions__cancel
      or
      = link_to 'cancel', manage_teams_path
