= simple_form_for [:manage, form] do |f|
  = f.input :group_id, { as: :select,
                         collection: Group.all,
                         required: true,
                         include_blank: true,
                         input_html: { class: 'select-box select-box--lg' } }
  = f.input :name, { required: true,
                     input_html: { class: 'text-input',
                                   style: 'width: 20rem' } }
  = f.input :start_on, { as: :date,
                         required: false,
                         include_blank: true,
                         input_html: { class: 'select-box select-box--lg' } }

  .actions
    = f.submit 'Save'
    .cancel
      or
      = link_to 'cancel', manage_teams_path
