.view.view--updates-edit
  = render partial: 'header', locals: { commitment: commitment }

  .flow
    .flow__navigation
      = render partial: 'quarters/commitments/form/navigation', locals: { flow: flow, commitment: commitment }
    .flow__current-step
      = simple_form_for service.form, url: quarter_commitment_path(quarter, commitment), as: :commitment, method: :patch do |f|
        = render partial: "quarters/commitments/form/#{service.form.template_name}", locals: { f: f }

        = hidden_field_tag 'form', flow.current_form_id

        .form-actions
          = render(Common::ButtonComponent.new(scheme: :primary)) do
            = flow.last_form? ? 'Save and finish' : 'Save and next'
