= render(Quarters::CommodityFilterComponent.new(quarter: quarter, selected_commodity: commodity))

- groups.each do |group, commitments|
  .update-content-block
    %h3.update-content-block__title
      = group.name
      %p{style: 'padding-top: 1rem;'}
        - if quarter.editable?
          = render(Common::ButtonComponent.new(tag: :a,
                                               href: new_quarter_commitment_path(quarter, group: group.id),
                                               scheme: :primary,
                                               size: :sm,
                                               data: { turbo_frame: 'modal' })) { 'Add commitment' }
    .update-content-block__content.update-content-block__content--list
      %ul.commitments-list.commitments-list--all-commitments
        - commitments.each do |commitment|
          %li.commitments-list__item
            = link_to quarter_commitment_path(quarter, commitment),
                      class: ("commitments-list__box" + (commitment.key_commitment? ? " commitments-list__box--key-commitment" : "")) do
              - if commitment.key_commitment?
                .commitments-list__number{ title: "Key commitment #{commitment.number}" }
                  .commitments-list__key-commitment-icon
                  .commitments-list__key-commitment-label
                    Key Commitment
                  = commitment.number
              .commitments-list__name
                = commitment.name
