= render Common::ModalWindowComponent.new do |c|
  = simple_form_for service.form,
                    url: quarter_commitments_path(quarter),
                    as: :commitment,
                    data: { controller: 'turbo-form-redirect' } do |f|

    = render partial: 'quarters/commitments/form/name_form', locals: { f: f }
    - if f.object.group_id.present?
      = f.input :group_id, as: :hidden
    - else
      = render partial: 'quarters/commitments/form/group_form', locals: { f: f }

    .form-actions.common__modal-window__actions
      = f.submit 'Add commitment', class: 'button button--primary', data: { disable: true }
