= render partial: 'header', locals: { commitment: commitment }

.update-content-block#overview
  .update-content-block__content
    - if commitment.overview.present?
      .markdown-block.summary
        = render_markdown(commitment.overview).html_safe

- if commitment.benefits.any?
  .update-content-block#benefits
    %h3.update-content-block__title
      This will...
    .update-content-block__content.update-content-block__content--list
      %ol
        - commitment.benefits.each do |benefit|
          %li=benefit

- if commitment.actions.any?
  .update-content-block#actions
    %h3.update-content-block__title
      So we'll be...
    .update-content-block__content.update-content-block__content--list
      %ol
        - commitment.actions.each do |action|
          %li=action

- if commitment.commodities.any?
  .update-content-block#actions
    %h3.update-content-block__title
      Commodities
    .update-content-block__content
      %ul.commodities-list
        - commitment.commodities.each do |label|
          %li.commodities-list__item
            .commodities-list__icon
              .icon.icon--sm{ class: "icon--commodities-#{label}" }
            .commodities-list__label= t(label, scope: %w[commitments commodities])

- if commitment.teams.any?
  .update-content-block#actions
    %h3.update-content-block__title
      Teams
    .update-content-block__content
      %ul.teams-list
        - commitment.teams.each do |team|
          %li.teams-list__item
            .teams-list__name= team.name

- if quarter.editable?
  .update-content-block
    .update-content-block__content
      = link_to 'Edit this page', edit_quarter_commitment_path(commitment.quarter, commitment), class: 'button'
