.indicator-list--inline-mini
  - if team.published?
    .indicator-list__indicator
      .indicator-list__label
        .indicator-list__inner
          Delivery
      .indicator-list__value
        .indicator-list__inner
          .status-indicator{ class: "status-indicator--#{team.delivery_status}" }
            = delivery_status_text(team)
            .status-indicator__circle
    .indicator-list__indicator
      .indicator-list__label
        .indicator-list__inner
          OKRs
      .indicator-list__value
        .indicator-list__inner
          .status-indicator{ class: "status-indicator--#{team.okr_status}" }
            = okr_status_text(team)
            .status-indicator__circle
    .indicator-list__indicator.issues
      .indicator-list__inner
        = pluralize team.issue_count, 'issue'
  - else
    .indicator-list__indicator.completion-status
      Awaiting submission

