.key-indicators
  - if update.published?
    .indicator.delivery-status{:class => "status-#{update.delivery_status}"}
      .label
        .inner Delivery
      .value
        .inner
          = delivery_status_text(update)
          %span.delivery-indicator
    .indicator.delivery-status{:class => "status-#{update.okr_status}"}
      .label
        .inner OKRs
      .value
        .inner
          = okr_status_text(update)
          %span.delivery-indicator
    .indicator.issues
      .inner
        = pluralize update.issues.count, 'issue'
  - else
    .indicator.completion-status Awaiting submission

