= render Common::ModalWindowComponent.new do |c|
  - c.header do
    Export the sprint report

  = turbo_frame_tag 'exported-sprint-reports' do
    = form_tag request_sprint_export_path(sprint), method: :post do
      = render(Common::ButtonComponent.new(scheme: :primary,
                                           data: { turbo_frame: 'exported-sprint-reports' })) { 'Generate a new report' }

    %ul
      - sprint.exported_reports.each do |report|
        = render(Sprints::ExportedReportComponent.new(report: report))

    = form_tag sprint_exports_path(sprint), method: :get do
      = render(Common::ButtonComponent.new(scheme: :primary,
                                           data: { controller: 'background-refresh',
                                             turbo_frame: 'exported-sprint-reports' })) { 'Refresh' }
