%h1.outline-anchor Sprint report
.page
  %header
    .title= sprint.name
    .dates
      = sprint.start_on.strftime('%b %e')
      to
      = sprint.end_on.strftime('%b %e %Y')

  = render partial: 'sprints/pdf/overview', locals: { sprint: sprint, groups: groups }

.page-break

- groups.each do |group|
  - if group.updates.published_for_sprint(sprint).any?
    %h1.outline-anchor= group.name
  - group.updates.published_for_sprint(sprint).each do |update|
    = render partial: 'sprints/pdf/team', locals: { sprint: sprint, update: update }
