.sprints-summary
  .sprints-summary__status
    = render Sprints::DeliveryStatusComponent.new(sprint: sprint)
  .sprints-summary__actions
    - if Features.enabled?(:export_uploads, signed_in_user)
      = render(Common::ButtonComponent.new(tag: :a,
                                           href: sprint_exports_path(sprint),
                                           scheme: :primary,
                                           style: :inverted,
                                           size: :sm,
                                           data: { turbo_frame: 'modal' })) do
        .sprints-summary__action-icon
        Download

.sprints-update-list
  - team_summaries.each do |group, summaries|
    .sprints-update-list__group
      %h2.sprints-update-list__group-name= group.name
      = render Sprints::UpdatePreviewComponent.with_collection(summaries)

= form_tag export_sprint_path(sprint, (params.key?(:debug) ? { debug: true } : nil )), method: :post, data: { turbo: 'false' } do
  = render(Common::ButtonComponent.new) { 'Download as PDF' }
