.sprints-summary
  .sprints-summary__status
    = render Sprints::DeliveryStatusComponent.new(sprint: sprint)
  .sprints-summary__actions
    - if Features.enabled?(:export_uploads, signed_in_user)
      = link_to sprint_exports_path(sprint), class: 'button button--sm button--inverted-primary', data: { turbo_frame: 'modal' } do
        .sprints-summary__action-icon
        Download

.sprints-update-list
  - team_summaries.each do |group, summaries|
    .sprints-update-list__group
      %h2.sprints-update-list__group-name= group.name
      = render Sprints::UpdatePreviewComponent.with_collection(summaries)

= button_to 'Download as PDF', export_sprint_path(sprint, (params.key?(:debug) ? { debug: true } : nil )), class: 'button', form: { data: { turbo: 'false' } }
