.sprint-summary
  = render Sprints::DeliveryStatusComponent.new(sprint: sprint)
  - if Features.enabled?(:export_uploads, signed_in_user)
    = link_to 'Export', sprint_exports_path(sprint), class: 'button button--primary', data: { turbo_frame: 'modal' }

.view.view--sprints-show
  %ul.groups
    - team_summaries.each do |group, teams|
      %li.group
        %h2= group.name
        %ul.teams
          - teams.each do |team|
            %li
              = link_to update_path(sprint, team) do
                %h3
                  %span= team.name
                = render partial: 'update_preview', locals: { team: team }

  = button_to 'Download as PDF', export_sprint_path(sprint, (params.key?(:debug) ? { debug: true } : nil )), class: 'button', form: { data: { turbo: 'false' } }
