.view.view--manage-sprints
  .team-header
    .team-header__content
      .team-header__group
        = team.group.name
      %h2.team-header__name
        = team.name
      .sprint-name= sprint.name
    .team-header__actions
      = link_to 'View sprint update', update_path(sprint, team), class: 'button button--inverted-primary'

  = render Common::ModalWindowComponent.new do |c|
    - c.header { 'Danger zone' }

    .update-content-block
      %h2.update-content-block__title Unpublish
      .update-content-block__content
        - if service.valid?
          %p You can unpublish this sprint update.
          %p This will return the sprint update to a draft so that it can be edited again.
          %p If you've already exported a PDF for the sprint, export a fresh copy after any changes have been made.
          %p= button_to 'Unpublish',
                unpublish_manage_sprint_update_path(sprint, team),
                class: 'button button--danger',
                form: { data: { controller: 'turbo-form-redirect' } }
        - else
          .errors
            %ul.errors__list
              %li.errors__item
                = t('update_not_published', scope: %w[services sprint_updates unpublish])

