= render Common::IndicatorListComponent.new(style: :inline) do |c|
  - c.indicator(label: 'Delivery status') do |c|
    - c.status status: sprint_update.delivery_status,
               label: sprint_update.delivery_status_text,
               position: :before

  - c.indicator(label: 'OKR progress') do |c|
    - c.status status: sprint_update.okr_status,
               label: sprint_update.okr_status_text,
               position: :before

  - c.indicator(label: 'Team health') do
    = "#{sprint_update.team_health} / 5"

  - c.indicator(label: 'Headcount') do
    = "#{sprint_update.current_headcount} / #{sprint_update.total_headcount}"

.update-content-block#summary
  %h3.update-content-block__title
    Sprint summary
  .update-content-block__content
    - if sprint_update.content.present?
      .markdown-block.summary
        = render_markdown(sprint_update.content).html_safe

.update-content-block#sprint-goals
  %h3.update-content-block__title
    Sprint goals
  .update-content-block__content.update-content-block__content--list
    - if sprint_update.sprint_goals.present?
      %ol
        - sprint_update.sprint_goals.each do |goal|
          %li= goal

.update-content-block#next-sprint-goals
  %h3.update-content-block__title
    Goals for next sprint
  .update-content-block__content.update-content-block__content--list
    - if sprint_update.next_sprint_goals.present?
      %ol
        - sprint_update.next_sprint_goals.each do |goal|
          %li= goal

.update-content-block#issues
  %h3.update-content-block__title
    = pluralize(sprint_update.issues.size, 'issue')
  .update-content-block__content.update-content-block__content--offset-list
    - if sprint_update.issues.any?
      %ul
        - sprint_update.issues.each do |issue|
          %li= render partial: 'shared/components/issue', locals: { issue: issue, show_team_name: false }
    - else
      %p.no-issues No issues have been reported for this sprint.

.update-content-block
  .update-content-block__content
    = link_to 'View edit history', history_update_path(sprint, team), class: 'button button--inverted-primary'
