= turbo_frame_tag 'modal', class: 'turbo-frame turbo-frame--modal',
                           autoscroll: true,
                           src: ('' if force_open),
                           data: { controller: 'modal-window',
                            action: 'keyup@document->modal-window#keyup' } do
  .common__modal-window
    .common__modal-window__background{ data: { action: 'click->modal-window#close' } }
    .common__modal-window__container
      .common__modal-window__content.turbo-frame__container
        .turbo-frame__loading
        - if turbo_frame_request?
          = link_to '#', class: 'common__modal-window__close-link',
                         target: '_top',
                         data: { action: 'click->modal-window#close' } do
            .common__modal-window__close-icon
              = render Common::IconComponent.new(icon: :close)
            .common__modal-window__close-label Close
        - if header.present?
          .common__modal-window__header
            %h1.common__modal-window__header-label= header
        = content
        - if turbo_frame_request? && actions.present?
          .form-actions.common__modal-window__actions= actions
