.sprints-update-preview
  = link_to update_path(team_summary.sprint, team_summary.team), class: 'sprints-update-preview__link' do
    %h3.sprints-update-preview__team
      .sprints-update-preview__team-name= team_summary.name
    .sprints-update-preview__status
      = render Common::IndicatorListComponent.new(style: :inline_mini) do |c|
        - if team_summary.published?
          - c.indicator(label: 'Delivery') do
            = render Common::StatusIndicatorComponent.new(status: team_summary.delivery_status,
                                                  label: team_summary.delivery_status_text)
          - c.indicator(label: 'OKRs') do
            = render Common::StatusIndicatorComponent.new(status: team_summary.okr_status,
                                                  label: team_summary.okr_status_text)

          - c.indicator do
            = pluralize team_summary.issue_count, 'issue'
        - else
          = c.indicator do
            Awaiting submission
