.issue
  .issue__header
    - if local_assigns[:show_team_name].present?
      .issue__team-name
        = issue.team.name
    .issue__description
      = issue.description
  .issue__inner
    .issue__section
      .issue__section-label
        How we're solving it
      .issue__section-value
        = issue.treatment
    .issue__section
      .issue__section-label
        What we need help with:
      .issue__section-value
        = issue.help
  - if local_assigns[:link_to_update].present? or issue.identifier?
    .issue__section.issue__section--actions
      - if local_assigns[:link_to_update].present?
        = render(Common::ButtonComponent.new(tag: :a,
                                             href: update_path(issue.sprint, issue.team),
                                             scheme: :primary,
                                             style: :inverted,
                                             size: :sm,
                                             data: { turbo_frame: '_top' })) { 'View team update' }
      - if issue.identifier?
        = render(Common::ButtonComponent.new(tag: :a,
                                             href: azure_devops_link(issue.identifier),
                                             scheme: :primary,
                                             style: :inverted,
                                             size: :sm,
                                             data: { turbo_frame: '_top' })) { 'View in DevOps' }
