.sprint-selector
  - if sprint.present?
    - if sprint.previous_sprint.present?
      = link_to sprint_navigation_link(sprint.previous_sprint), class: 'previous-sprint' do
        ᐊ
    = link_to sprint_path(sprint) do
      .dates
        = sprint.start_on.strftime('%b %e')
        to
        = sprint.end_on.strftime('%b %e %Y')
    - if sprint.next_sprint.present?
      = link_to sprint_navigation_link(sprint.next_sprint), class: 'next-sprint' do
        ᐅ
  - else
    = link_to 'All sprints', sprints_path
