- content_for :selected_section, :manage

- content_for :content do
  %header.section.section-manage
    %h1 Manage
    %nav
      %ul
        %li= link_to 'Dashboard', manage_root_path
        %li= link_to 'Sprints', manage_sprints_path
        %li= link_to 'Teams', manage_teams_path
  .inner
    = yield

= render template: 'layouts/application'
