- content_for :selected_section, :manage

- content_for :content do
  %header.section.section-manage
    %h1 Manage
    %nav
      %ul
        %li= nav_link 'Dashboard', manage_root_path
        %li= nav_link 'Sprints', manage_sprints_path, match_prefix: true
        %li= nav_link 'Teams', manage_teams_path, match_prefix: true
  .inner
    = yield

= render template: 'layouts/application'
