!!! 5
%html
  %head
    %title
      Paddock
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
  %body
    .unauthenticated
      %header.app
        %h1= link_to 'Paddock', root_path

      .box
        - if flash.any?
          - flash.each do |key, message|
            %div{class: "flash-message flash-message--#{key}"}= message
        = yield
    = render partial: 'layouts/partials/paddock_environment'
