- content_for :selected_section, :updates

- content_for :content do
  %header.section.section-updates
    - if sprint.present?
      %h1= sprint.name
      %nav
        %ul
          %li= nav_link 'Overview', sprint_path(sprint)
          %li= nav_link 'Issues', sprint_issues_path(sprint)
      = render partial: 'layouts/partials/sprint_navigation', locals: { sprint: sprint, team: (team if self.respond_to?(:team)) }
  .inner
    = yield

= render template: 'layouts/application'
