- content_for :selected_section, :updates

- content_for :content do
  .section-navigation.section-navigation--section-updates
    - if sprint.present?
      .section-navigation__title= sprint.name
      .section-navigation__nav
        %ul
          = nav_link 'Overview',
              sprint_path(sprint),
              list_item_class: 'section-navigation__nav-item',
              link_class: 'section-navigation__nav-link'
          = nav_link 'Issues',
              sprint_issues_path(sprint),
              list_item_class: 'section-navigation__nav-item',
              link_class: 'section-navigation__nav-link'

      = render(Sprints::SprintNavigationComponent.new(sprint: sprint,
                                                      team: (team if self.respond_to?(:team)),
                                                      previous_sprint: sprint.previous_sprint,
                                                      next_sprint: sprint.next_sprint,
                                                      controller_name: controller_name,
                                                      action_name: action_name))
  .inner
    = yield

= render template: 'layouts/application'
